{% extends 'VibbyBookingBundle::base.html.twig' %}

    {% block title %}Pierre Blanche - 44 Le Cormier{% endblock %}

    {% block homelink %}{{ path('calendar') }}{% endblock %}

    {% block stylesheets %}
      <link href="{{ asset('/bundles/vibbybooking/css/admin.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    {% block menu %}
          {% if is_granted('ROLE_ADMIN') %}
            <ul id="c">
              <li><a href="{{ path('event_list') }}">Réservations</a></li>
              <li><a href="{{ path('calendar') }}">Calendrier</a></li>
              <li><a href="{{ path('event_new') }}">Nouvelle réservation</a></li>
              <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            </ul>
          {% endif %}            
    {% endblock %}

    {% block content %}
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}            
        {% if app.session.hasFlash('error') %}
            <div class="flash-error">
                {{ app.session.flash('error') }}
            </div>
        {% endif %}
        {% block panels %}

        {% endblock %}
    {% endblock %}

