<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="vibby" />
    <meta name="distribution" content="Global" />
    <meta name="copyright" content="vibby" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Pierre Blanche - 44 Le Cormier{% endblock %}</title>

    <!--css-->
    <link href="{{ asset('/bundles/vibbybooking/css/styles.css') }}" type="text/css" rel="stylesheet" />
    {% block stylesheets %}
    {% endblock %}

    <!--js-->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% block javascripts %}{% endblock %}


  </head>

  <body id="body">

    <div id="wrapper">
      <div id="heat">
        <div id="heat_left"><a href="{% block homelink %}{% endblock homelink %}"><img src="{{ asset('/bundles/vibbybooking/images/header_03.png') }}" alt="" width="184" height="129" /></a></div>
        <div id="heat_left1"><img src="{{ asset('/bundles/vibbybooking/images/header_04.png') }}" alt="" width="718" height="50" /></div>
        <div id="heat_left2"><img src="{{ asset('/bundles/vibbybooking/images/header_05.png') }}" alt="" width="51" height="110" /></div> 

        <div id="heat_right_menu">
          {% block menu %}
          {% endblock %}
        </div>
      </div>

      <div>
        {% block content %}         
        {% endblock %}


        <div id="containt_footer">
          <p>Copyright 2010 <a href="http://vibby.beauvivre.fr">vibby</a>. All Rights Reserved.  <a href="{{ path('event_list')  }}">Admin</a></p>
        </div>
      </div>

    </div>

    {% block javascriptsBottom %}
    {% endblock %}

  </body>
</html>