{% extends 'VibbyBookingBundle::adminbase.html.twig' %}

{% block parallax %}{% endblock %}

{% block panels %}

<h1>{% trans %}List{% endtrans %}</h1>

<table class="records_list">
  <thead>
    <tr>
      <th>{{ knp_pagination_sortable(pagination,'Name', 'e.lastname')|raw }}</th>
      <th>{{ knp_pagination_sortable(pagination,'Email', 'e.email')|raw }}</th>
      <th>{{ knp_pagination_sortable(pagination,'Phone', 'e.phone')|raw }}</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for entity in pagination %}
    <tr>
      <td>
        <a href="{{ path('event_edit', { 'id': entity.id}) }}">
          <strong>{{ entity.name }}</strong>
        </a>
      </td>
      <td>{% if entity.email %}<a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}</td>
      <td>{% if entity.phone %}{{ entity.phone }}{% endif %}</td>
      {# 
      <td>{% if entity.datefrom %}{{ entity.datefrom|date('Y-m-d') }}{% endif %}</td>
      <td>{% if entity.dateto %}{{ entity.dateto|date('Y-m-d') }}{% endif %}</td>
      {# 
      <td>
        {% if entity.isValidated %}
        <a href="{{ path('event_unvalidate', { 'id': entity.id }) }}"><img src="{{ asset('/bundles/vibbybooking/images/inputValid.gif') }}" /></a>
        {% else %}
        <a href="{{ path('event_validate', { 'id': entity.id }) }}"><img src="{{ asset('/bundles/vibbybooking/images/inputUnvalid.gif') }}" /></a>
        {% endif %}
      </td> 
      #}
      {% for date in period %}
        <td class="calendarItem
            {% if (date >= entity.datefrom) and (date <= entity.dateto) %}
              {% if entity.isValidated %}
                validated
              {% else %}
                unvalidated
              {% endif  %}
            {% endif  %}
        ">
          <a title="{{ date|date('Y-m-d') }}"
            {% if entity.isValidated %}
              href="{{ path('event_unvalidate', { 'id': entity.id }) }}"
            {% else %}
              href="{{ path('event_validate', { 'id': entity.id }) }}"
            {% endif %}
          >

            .
          </a>
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="navigation">
  {{ knp_pagination_render(pagination)|raw }}
</div>

{% endblock %}

