
Un nouveau message a été posté sur PierreBlanche :<br />
Nom : <strong>{{ name }}</strong><br />
Email : <strong><a href="mailto:{{ email }}">{{ email }}</a></strong><br />
IP: {{ ip }}<br /><br />

{{ message|raw }}