{% extends 'VibbyBookingBundle::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('/bundles/vibbybooking/js/jquery.datepick-4.0.4/style.humanity.datepick.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  stepcarousel.setup({
    galleryid: 'mygallery', //id of carousel DIV
    beltclass: 'belt', //class of inner "belt" DIV containing all the panel DIVs
    panelclass: 'panel', //class of panel DIVs each holding content
    autostep: {enable:false, moveby:1, pause:9000},
    panelbehavior: {speed:1000, wraparound:false, persist:true},
    defaultbuttons: {enable: true, moveby: 1, leftnav: ['{{ asset('/bundles/vibbybooking/images/back.gif') }}', -50, 90], rightnav: ['{{ asset('/bundles/vibbybooking/images/next.gif') }}', 15, 90]},
    statusvars: ['statusA', 'statusB', 'statusC'], 
    contenttype: ['inline'] 
  })
  
  alldata = 
  {
    "resas":{{ bookedDates }},
    "ids":{{ askedDates }}
  };

</script>
{% endblock %}



{% block panel03 %}

<div style="float:right;width:150px;margin-right:50px;">
  <div id="bookingFunctions" >
    <form action="{{ path('event_quick_create') }}"  id="booking" method="post" data="Les champs doivent être correctement remplis, et les dates sélectionnés doivent être valides !" {{ form_enctype(form) }}>
          <p>Sélectionner les dates de début et de fin dans le calendrier</p>
      <input id="date" name="date" class="pregValidate" type="hidden" data="/^20[0-9]{2}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1} - 20[0-9]{2}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}$/" />
      {% form_theme form 'VibbyBookingBundle:Form:fields.html.twig' %}
      {{ form_widget(form) }}
      <input class="submit" type="submit" value="Envoyer la demande" />
    </form>
    {#
    <form action="booking_send.php" id="booking" method="post" data="Les champs doivent être correctement remplis, et les dates sélectionnés doivent être valides !">

      <p>Sélectionner les dates de début et de fin dans le calendrier</p>
      <input id="date" name="date" class="pregValidate" type="hidden" data="/^20[0-9]{2}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1} - 20[0-9]{2}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}$/" />
      <!--label for="prenom"  > Votre prénom</label><br /-->
      <input id="prenom" class="pregValidate" value="Votre prénom" name="prenom"  title="Votre prénom" data="/^.[^\x00-\x1F\x7F]{2,}$/i" /><br />
      <!--label for="nom"  > Votre nom</label><br /-->
      <input id="nom" class="pregValidate" name="nom" value="Votre nom" title="Votre nom" data="/^.[^\x00-\x1F\x7F]{2,}$/i" /><br />
      <!--label for="email"  > Votre email</label><br /-->
      <input id="email" class="pregValidate" name="email" value="Votre email"  title="Votre email" data="/^[a-z0-9_\+-]+(\.[a-z0-9_\+.-]+)*@[a-z0-9-]+(\.[a-z0-9.-]+)*\.([a-z]{2,6})$/i" /><br />
      <!--label for="tel"  > Votre téléphone</label><br /-->
      <input id="tel" class="pregValidate" name="tel" value="Votre téléphone" title="Votre téléphone" data="/^0[0-69]([_ -./\\ ]?[0-9]{2}){4}$/i" /><br />
      <input class="submit" type="submit" value="Envoyer la demande" />
    </form>
    #}
  </div>    
  <div class="aRestart">
    Recommencer
  </div>    
</div>    

<div id="calendar" style="float:left;">

</div>    

{% endblock %}