{% extends 'VibbyBookingBundle::adminbase.html.twig' %}

                 {% block parallax %}{% endblock %}

{% block panels %}

<h1>{% trans %}List{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Phone{% endtrans %}</th>
            <th>{% trans %}From{% endtrans %}</th>
            <th>{% trans %}To{% endtrans %}</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a href="{{ path('event_edit', { 'id': entity.id}) }}">
                  <strong>{{ entity.name }}</strong>
                </a>
            </td>
            <td>{% if entity.email %}<a href="mailto:{{ entity.email }}">{{ entity.email }}</a>{% endif %}</td>
            <td>{% if entity.phone %}{{ entity.phone }}{% endif %}</td>
            <td>{% if entity.datefrom %}{{ entity.datefrom|date('Y-m-d') }}{% endif %}</td>
            <td>{% if entity.dateto %}{{ entity.dateto|date('Y-m-d') }}{% endif %}</td>
            <td>
                {% if entity.isValidated %}
                    <a href="{{ path('event_unvalidate', { 'id': entity.id }) }}"><img src="{{ asset('/bundles/vibbybooking/images/inputValid.gif') }}" /></a>
                {% else %}
                    <a href="{{ path('event_validate', { 'id': entity.id }) }}"><img src="{{ asset('/bundles/vibbybooking/images/inputUnvalid.gif') }}" /></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

