{% extends 'VibbyBookingBundle::base.html.twig' %}

                 {% block parallax %}{% endblock %}

{% block panels %}
<h1>Event</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Date_from</th>
            <td>{{ entity.datefrom|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date_to</th>
            <td>{{ entity.dateto|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Is_validated</th>
            <td>{{ entity.isvalidated }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('event_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
